*.check
*.coverage
*.egg-info/
*.exe
*.fns
*.log
*.pyc
*~
.DS_Store
.checkpoint/
.tox/
__pycache__/
build/
coverage.xml
deps/
dist/
extras/makefiles/
pynes/examples/*.asm
pynes/examples/*.chr
pynes/examples/*.nes
tools/
venv/
demos/*.nes
output/
